@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shippori Antique', sans-serif;
  scrollbar-width: none;
}

body, html {
  height: 100%;
  overflow: hidden;
  background-color: #1C1C3C;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 20px;
}

.container__lateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 23%;
  min-width: 200px;
  padding: 20px;
  background-color: #1C1C3C;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.container__lateral_titulo {
  color: #F7D02C;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5em;
}

.container__lateral__aviso {
  color: #F2F2F2;
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
}

.container__lateral__aviso__msg {
  text-align: center;
  font-size: 1em;
}

.container__esquerda, .container__direita {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1C1C3C;
  height: 90%;
  width: 28%;
  min-width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.container__esquerda__caixatexto, .container__direita__textocodificado {
  background-color: #1C1C3C;
  height: 75%;
  width: 100%;
  color: #F2F2F2;
  border-radius: 12px;
  padding: 20px;
  font-size: 1.1em;
  text-align: center;
  border: 2px solid #F7D02C;
  overflow-y: auto;
  resize: none;
}

.container__botoes, .container__direita__copiar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1C1C3C;
  height: 10%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.container__botoes__principais, #botaoCopiar {
  background-color: #F7D02C;
  border-radius: 8px;
  height: 100%;
  width: 30%;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #2A2D34;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #1C1C3C;
  transition: all 0.3s ease;
  font-size: 1em;
}

.container__botoes__principais:hover, #botaoCopiar:hover {
  background-color: #8A8D91;
  transform: scale(1.05);
}

.container__direita__faltatexto {
  color: #F2F2F2;
  font-size: 1.2em;
}

.container__direita__errofalta {
  color: #F2F2F2;
  font-size: 1em;
}

.container__direita__imagemconan {
  width: 55%;
  height: auto;
  max-height: 300px;
  border-radius: 12px;
  object-fit: cover;
  margin: 10px;
}

.rodape {
  background-color: #F7D02C;
  color: #1C1C3C;
  height: 35px;
  width: 100%;
  font-size: medium;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:center;
  position: relative;  
  text-decoration: none;
}

.linkedin, .github {
  width: 27px;
}

.creditos {
  font-size:small;
}